.container-box-inner-add-maintenance-page 
.adicional-info{
    opacity: .5;
    margin-bottom: 32px;    
}

.easy-box-selection-group{
    display: flex;
        flex-direction: column;
    gap: 8px;
    justify-content: start;
}

.easy-box-selection-group button{
    width: fit-content;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}