.dashboard-titulo-listagens {
  background-color: #fff;
  width: auto;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  margin-bottom: -20px;
  overflow: hidden;
  position: relative;
}

.dashboard-titulo-listagens .dot {
  width: 8px;
  height: 8px;
  background-color: var(--accent-color);
  border-radius: 30px;
  position: relative;
  top: 1px;
}

.dashboard-titulo-listagens svg {
  opacity: 0.3;
}

.dashboard-titulo-listagens span {
  font-size: 24px;
  line-height: 24px;
  position: relative;
  top: 2px;
  opacity: 0.8;
}

.MuiDataGrid-columnSeparator {
  opacity: 0.2 !important;
}

.dashboard-titulo-listagens .color-area {
  width: 20px;
  height: 100%;
  background-color: var(--accent-color);
  position: absolute;
  right: -5px;
}
